[submodule "iOSClient/Src/Common/ThirdParty/SDWebImage"]
	path = iOSClient/Src/Common/ThirdParty/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "iOSClient/Src/Common/ThirdParty/AFNetworking"]
	path = iOSClient/Src/Common/ThirdParty/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "iOSClient/Src/Common/ThirdParty/BlocksKit"]
	path = iOSClient/Src/Common/ThirdParty/BlocksKit
	url = https://github.com/zwaldowski/BlocksKit.git
[submodule "iOSClient/Src/Common/ThirdParty/MBProgressHUD"]
	path = iOSClient/Src/Common/ThirdParty/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "iOSClient/Src/Common/ThirdParty/Reachability"]
	path = iOSClient/Src/Common/ThirdParty/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "iOSClient/Src/Common/ThirdParty/JSPatch"]
	path = iOSClient/Src/Common/ThirdParty/JSPatch
	url = https://github.com/bang590/JSPatch.git
[submodule "iOSClient/Src/Common/ThirdParty/YYModel"]
	path = iOSClient/Src/Common/ThirdParty/YYModel
	url = https://github.com/ibireme/YYModel.git
[submodule "iOSClient/Src/Common/ThirdParty/FMDB"]
	path = iOSClient/Src/Common/ThirdParty/FMDB
	url = https://github.com/ccgus/fmdb.git
